#divProg{
    margin-bottom: 10px;
}

#prog{
    width: 0%;
}

#emoji{
    display: block;
    margin: 0px auto;
    width: 5%;
    height: 5%;
}

button{
    float: left;
}

.tiret{
    margin-left: 3em;
}

.underline{
    text-decoration: underline;
}

#advice{
    padding: 0px;
    margin: 0px;
}

span{
    display: block;
}

#subAdvice{
    margin-left: 25%;
    margin-right: 25%;
    padding: 0px;
}

#sc{
    display: none;
}

.progress {
    position:relative;
    height: 30px;
}
.progress span {
    position:relative;
    left:0;
    width:100%;
    text-align:center;
    z-index:2;
    color:white;
    font-size: 0.8rem;
}

#barTaller progress-bar{
    height: 30px;
}

#inputFile {
    display: inline;
}

.centerDiv {
    text-align: center;
}

input[type='file'] {
    color: transparent;
}

#btnBot {
    margin-bottom: 20px;
}

.navbar-brand{
    height: 80px;
    font-size: 25px;
}

#title{
    color: black;
    font-size: 20px;
    font-family: Andale Mono, monospace;
}

.space {
    margin-right: 15px;
    margin-left: 15px;
}

.space:hover {
    cursor: pointer;
    width: 40px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#navbarSize li a{
    font-size: 15px;
}


body {
    background-color:black;
    background-image: url(../img/background_l.jpg), url(../img/background_r.jpg);
    background-repeat: repeat-y, repeat-y;
    background-position:  left, right;
    background-size: 25%, 25%;
    color: white;
    margin: 0;
    padding: 0;

}

@media (max-width: 550px)
{
    .center-xs
    {
	margin: auto;
    }
}

.copyright
{
    color: black;
}

.copyright:hover
{
    text-decoration: none;
    color:black;
}

.formatTeam img{
    width: 60%;
    height: 50%;
    margin-bottom: 3%;
    padding: 0;
}

.example-wrapper h2{
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}

.example-wrapper h1{
    text-align: center;
}

.example-wrapper p {
    text-align: center;
}

.imgContainer {
    margin-bottom: 10%;
}

.invisible-setup {
    position: relative;
    top: 0px;
    left: 0px;
    margin-bottom: 4%;
}

.invisible-setup p {
    width: 40%;
    position: absolute;
    left: 60%;
    top: 0px;
    text-align: center;
}

.decaleDroite img {
    margin-left: 40%;
}

.decaleDroite p{
    left: 0px;
}

.invisible-1 {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    z-index: 3
}

.invisible-1:hover {
    opacity: 1;
}

.invisible-2 {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 2;
    opacity: 1;
}

@media (max-width: 550px)
{
    .formatTeam img{
	width: 100%;
	height: 100%;
    }
    
    .invisible-setup p {
	width: 100%;
	position: relative;
	left: 0px;
	top: 0px;
    }

    .invisible-setup p {
	width: 100%;
	position: relative;
	left: 0px;
	top: 0px;
    }

    .decaleDroite img {
	margin-left: 0px;
    }
    
    .invisible-2 {
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0;
	z-index: 3
    }

    .invisible-2:hover {
	opacity: 1;
    }

    .invisible-1 {
	position: relative;
	left: 0px;
	top: 0px;
	z-index: 2;
	opacity:1
    }
}


@media (max-width: 420px){
    .navbar-panther{
	width: 0px;
    }

}
