{% extends 'base.html.twig' %}

{% block title %}BLACK PANTH'EIRB{% endblock %}

{% block body %}
<style>
  .example-wrapper {
      margin: 1em auto;
      max-width: 800px;
      width: 95%;
      font: 18px/1.5 sans-serif;
  }

  .example-wrapper code {
      background: #F5F5F5;
      padding: 2px 6px;
  }
</style>

<div class="example-wrapper">
  <h1>L'ÉQUIPE</h1>

  Voici la team Black Panth'eirb qui va vous faire kiffer pendant 1 semaine !!
  <h2>Le Pôle SPONSO</h2>
  <span class="formatTeam">
    <div class="imgContainer">
      <img src="{{ asset('img/leo danflous.gif') }}" alt="">
      <p>kdshfvvvvvvvsidfhcoisdhvousdhvusdhvuishviusdbvsdvbksjdwbvkjdsbvkbwskdjvbwkbdvkwbvkw
        dsvidsuvbsdu</p>
    </div>
    <div class="invisible-setup">
      <p> LOL c'est Léo oooooooooooooooooooooo</p>
      <img class="decaleDroite invisible-classic" src="{{ asset('img/leo danflous.gif') }}" alt="">
      <img class="decaleDroite invisible-1" src="{{ asset('img/Name.png') }}" alt="">
    </div>
  </span>
</div>
{% endblock %}
